.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*.o
ux/SCCS/
ux/1lib/
ux/4lib/
ux/5lib/
ux_test/SCCS/
ux_test/1lib/
ux_test/4lib/
ux_test/5lib/
MDC/SCCS/
MDC/1lib/
MDC/4lib/
MDC/5lib/
SDD/SCCS/
SDD/1lib/
SDD/4lib/
SDD/5lib/
VDW/SCCS/
VDW/1lib/
VDW/4lib/
VDW/5lib/
VDW/odbclib/
VDW/test/
KIIL/
